.footer {
  margin-top: 64px;
  height: 243px;
  background: linear-gradient(303deg, #8A78FA 5.82%, #788DFA 94.77%); }
  .footer__sns {
    margin: 0 auto;
    padding-top: 64px;
    height: 48px;
    width: 240px;
    display: flex;
    justify-content: space-between; }
  .footer__sns-item {
    width: 33.3%;
    height: 48px; }
  .footer__sns-link {
    margin: 0 auto;
    display: block;
    height: 48px;
    width: 48px;
    text-align: center;
    border-radius: 50px;
    background-color: #6E5AEF; }
    .footer__sns-link:hover {
      opacity: 0.5;
      transition: opacity 0.2s ease-in 0.1s; }
  .footer__sns-img {
    color: #fff;
    font-size: 2.4rem;
    margin-top: 12px; }
  .footer__copyright {
    text-align: center;
    margin-top: 80px;
    color: #fff; }

.header {
  background: linear-gradient(303deg, #8A78FA 5.82%, #788DFA 94.77%);
  width: 100%; }

.header-nav {
  height: 96px;
  margin: 0 32px;
  display: flex;
  justify-content: space-between; }
  .header-nav__home-container {
    width: 280px; }
  .header-nav__home {
    position: relative;
    height: 61px; }
  .header-nav__home a {
    font-size: 24px;
    font-family: 'Moon';
    font-weight: bold;
    letter-spacing: 2px; }
  .header-nav__list {
    float: right;
    width: 220px; }
  .header-nav__item {
    height: 61px;
    width: 33.3%;
    float: left;
    text-align: center;
    position: relative; }
    @media screen and (max-width: 640px) {
      .header-nav__item {
        display: none; } }
  .header-nav__mobile {
    height: 61px;
    width: 33.3%;
    margin-left: 96px;
    text-align: center;
    position: relative;
    display: none; }
    @media screen and (max-width: 640px) {
      .header-nav__mobile {
        display: block; } }
  .header-nav a {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: inline-block;
    color: #fff;
    cursor: pointer;
    cursor: hand;
    vertical-align: bottom; }
    .header-nav a:hover {
      opacity: 0.5;
      transition: opacity 0.2s ease-in 0.1s; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); }
  .modal__content {
    background-color: #E3E3F8;
    width: auto;
    height: 400px;
    margin: 20% 32px;
    border-radius: 26px; }
  .modal__close-btn {
    height: 44px; }
  .modal__close-btn a {
    font-size: 3.2rem;
    float: right;
    vertical-align: bottom;
    margin-top: 16px;
    margin-right: 28px;
    cursor: pointer;
    cursor: hand; }
  .modal__body {
    margin: 0 auto;
    height: 320px;
    position: relative; }
  .modal__list {
    text-align: center;
    margin: 0 auto;
    left: 20%;
    right: 20%;
    position: absolute; }
  .modal__link {
    text-align: center;
    margin-top: 48px; }
  .modal__link a {
    font-size: 3.2rem;
    font-family: 'Moon';
    font-weight: bold;
    letter-spacing: 2px; }

.main {
  width: 100%; }

.main-item {
  letter-spacing: 2px;
  text-align: center;
  margin-top: 96px; }
  @media screen and (max-width: 640px) {
    .main-item {
      text-align: left;
      margin: 0;
      margin-top: 96px; } }
  .main-item__title {
    margin-top: 96px;
    font-family: 'Moon';
    font-style: normal;
    font-weight: bold;
    font-size: 5.6rem;
    line-height: 67px; }
    @media screen and (max-width: 640px) {
      .main-item__title {
        margin: 0 32px; } }
  .main-item__img {
    width: 256px;
    height: 256px;
    margin: 0 64px; }
  .main-item__container {
    margin-top: 64px; }
  .main-item__sub-title {
    margin-top: 32px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 36px; }
  .main-item__text-container {
    margin-top: 32px; }
    @media screen and (max-width: 640px) {
      .main-item__text-container {
        margin: 32px 32px 0; } }
  .main-item__text {
    line-height: 21px;
    color: #4D4D5C; }
  @media screen and (max-width: 640px) {
    .main-item__skill-list {
      margin-left: 24px; } }
  .main-item__skill-title {
    margin-top: 32px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px; }
    @media screen and (max-width: 640px) {
      .main-item__skill-title {
        margin: 32px 32px 0; } }
  .main-item__skill-item {
    background-color: #E3E3F8;
    border-radius: 50px;
    display: inline-block;
    height: 32px;
    margin: 16px 8px 0 8px; }
  .main-item__skill-item span {
    line-height: 32px;
    padding: 0 24px; }
  .main-item__works-content {
    margin: 0 auto; }
  .main-item__works-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto; }
    @media screen and (max-width: 980px) {
      .main-item__works-container {
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (max-width: 640px) {
      .main-item__works-container {
        grid-template-columns: 1fr; } }
  .main-item__works-item {
    margin: 64px auto 0;
    height: 300px;
    width: 90%; }
  .main-item .main-item__works-img-container, .main-item .main-item__works-img-container--1, .main-item .main-item__works-img-container--2, .main-item .main-item__works-img-container--3, .main-item .main-item__works-img-container--4, .main-item .main-item__works-img-container--5, .main-item .main-item__works-img-container--6, .main-item .main-item__works-img-container--7, .main-item .main-item__works-img-container--8, .main-item .main-item__works-img-container--9, .main-item .main-item__works-img-container--10, .main-item .main-item__works-img-container--11 {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    text-align: center;
    display: block; }
    .main-item .main-item__works-img-container:hover, .main-item .main-item__works-img-container--1:hover, .main-item .main-item__works-img-container--2:hover, .main-item .main-item__works-img-container--3:hover, .main-item .main-item__works-img-container--4:hover, .main-item .main-item__works-img-container--5:hover, .main-item .main-item__works-img-container--6:hover, .main-item .main-item__works-img-container--7:hover, .main-item .main-item__works-img-container--8:hover, .main-item .main-item__works-img-container--9:hover, .main-item .main-item__works-img-container--10:hover, .main-item .main-item__works-img-container--11:hover {
      opacity: 0.5;
      transition: opacity 0.2s ease-in 0.1s; }
  .main-item__works-img-container--1 {
    background-color: #fff;
    border: solid 1px #e9e9e9; }
  .main-item__works-img-container--2 {
    background-color: #162275; }
  .main-item__works-img-container--3 {
    background-color: #FFC500; }
  .main-item__works-img-container--4 {
    background-color: #55becd; }
  .main-item__works-img-container--5 {
    background-color: #21608d; }
  .main-item__works-img-container--6 {
    background-color: #000; }
  .main-item__works-img-container--7 {
    background-color: #fff;
    border: solid 1px #e9e9e9; }
  .main-item__works-img-container--8 {
    background-color: #e3bba1; }
  .main-item__works-img-container--9 {
    background-color: #fff;
    border: solid 1px #e9e9e9; }
  .main-item__works-img-container--10 {
    background-color: #fff;
    border: solid 1px #e9e9e9; }
  .main-item__works-img-container--11 {
    background-color: #fa6400; }
  .main-item__works-img {
    margin-top: 15px; }
  .main-item__works-title {
    margin-top: 8px;
    color: #4D4D5C;
    font-size: 1.4rem; }

.works {
  margin: 0 10%; }
  .works__container {
    margin-top: 104px; }
  .works__img-container {
    margin-top: 44px;
    text-align: center; }
  .works__img {
    width: 320px;
    height: auto;
    margin: 0 auto;
    text-align: center; }
  .works__large-img {
    width: 100%; }
  .works__title {
    color: #4D4D5C;
    font-size: 3.2rem;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 32px; }
  .works__link {
    margin-top: 16px;
    background-color: #6E5AEF;
    border-radius: 26px;
    display: inline-block;
    height: 44px;
    padding: 0 32px;
    text-align: center; }
    .works__link:hover {
      opacity: 0.5;
      transition: opacity 0.2s ease-in 0.1s; }
  .works__link span {
    color: #fff;
    font-size: 1.6rem;
    line-height: 44px;
    text-align: center; }
  .works__sub-title {
    color: #4D4D5C;
    font-size: 2.4rem;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 44px; }
  .works__sub-title-2 {
    color: #4D4D5C;
    font-size: 2.0rem;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 32px; }
  .works__skill-list {
    margin-top: 32px; }
  .works__skill-item {
    background-color: #E3E3F8;
    border-radius: 50px;
    display: inline-block;
    height: 32px;
    margin: 16px 8px 0 0; }
  .works__skill-item span {
    line-height: 32px;
    padding: 0 24px; }
  .works__text {
    color: #4D4D5C;
    margin: 0 auto;
    margin-top: 16px; }
  .works__pdf-container {
    margin-top: 16px; }
  .works__pdf {
    width: 100%;
    height: 80vh; }
    @media screen and (max-width: 980px) {
      .works__pdf {
        display: none; } }
    @media screen and (max-width: 640px) {
      .works__pdf {
        display: none; } }
  .works__pdf-link {
    display: none; }
    @media screen and (max-width: 980px) {
      .works__pdf-link {
        display: block; } }
    @media screen and (max-width: 640px) {
      .works__pdf-link {
        display: block; } }

@font-face {
  font-family: 'Moon';
  src: url("../fonts/font-moon.woff") format("woff"); }
html {
  font-family: "Hiragino Kaku Gothic ProN", "M PLUS 1p";
  font-size: 62.5%;
  color: #333;
  scroll-behavior: smooth; }

body {
  font-size: 1.6rem; }

/*# sourceMappingURL=styles.css.map */
