$title-color: #333 !default;
$text-color: #4D4D5C !default;
$text-color-white: #fff;
$sub-color: #E3E3F8;
$main-color: #6E5AEF;
$main-gradation: linear-gradient(303deg, #8A78FA 5.82%, #788DFA 94.77%) !default;

$breakpoint-tablet: 980px;
$breakpoint-mobile: 640px;
