@import 'variables';

.footer {
  margin-top: 64px;
  height: 243px;
  background: $main-gradation;

  &__sns {
    margin: 0 auto;
    padding-top: 64px;
    height: 48px;
    width: 240px;
    display: flex;
    justify-content: space-between;
  }

  &__sns-item {
    width: 33.3%;
    height: 48px;
  }

  &__sns-link {
    margin: 0 auto;
    display: block;
    height: 48px;
    width: 48px;
    text-align: center;
    border-radius: 50px;
    background-color: $main-color;
    &:hover {
      opacity: 0.5;
      transition: opacity 0.2s ease-in 0.1s;
    }
  }

  &__sns-img {
    color: $text-color-white;
    font-size: 2.4rem;
    margin-top: 12px;
  }

  &__copyright {
    text-align: center;
    margin-top: 80px;
    color: $text-color-white;
  }
}
