@import 'mixins';
@import 'variables';

.profile {
  &__title {
    font-size: 2.4rem;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 64px;
    padding-bottom: 16px;
  }

  &__text {
    line-height: 3rem;
    padding-top: 8px;
    font-family: 'Noto Sans JP';

    &--large {
      padding-top: 24px;
      font-weight: bold;
      font-size: 1.8rem;
      border-bottom: solid $sub-color;
      display: inline-block;
      font-family: 'Noto Sans JP';
    }
  }

  &__text a {
    color: $main-color;
  }

  &__text span {
    font-weight: bold;
  }
}
