@import 'mixins';
@import 'variables';

.works {
  margin: 0 10%;

  &__img-container {
    margin-top: 44px;
    text-align: center;
  }

  &__img {
    width: 320px;
    height: auto;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    color: $text-color;
    font-size: 3.2rem;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 32px;
  }

  &__link {
    margin-top: 16px;
    background-color: $main-color;
    border-radius: 26px;
    display: inline-block;
    height: 44px;
    padding: 0 32px;
    text-align: center;
    &:hover {
      opacity: 0.5;
      transition: opacity 0.2s ease-in 0.1s;
    }
  }

  &__link span {
    color: $text-color-white;
    font-size: 1.6rem;
    line-height: 44px;
    text-align: center;
  }

  &__sub-title {
    color: $text-color;
    font-size: 2.4rem;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 44px;
  }

  &__skill-list {
    margin-top: 32px;
  }

  &__skill-item {
    background-color: $sub-color;
    border-radius: 50px;
    display: inline-block;
    height: 32px;
    margin: 16px 8px 0 0;
  }

  &__skill-item span {
    line-height: 32px;
    padding: 0 24px;
  }

  &__text {
    color: $text-color;
    margin: 0 auto;
    margin-top: 16px;
  }

  &__pdf-container {
    margin-top: 16px;
  }

  &__pdf {
    width: 100%;
    height: 80vh;
    @include max-screen($breakpoint-tablet) {
      display: none;
    }
    @include max-screen($breakpoint-mobile) {
      display: none;
    }
  }

  &__pdf-link {
    display: none;
    @include max-screen($breakpoint-tablet) {
      display: block;
    }
    @include max-screen($breakpoint-mobile) {
      display: block;
    }
  }
}
