@import 'mixins';
@import 'variables';

.works {
  margin: 0 10%;

  &__container {
    margin-top: 104px;
  }

  &__img-container {
    margin-top: 32px;
    text-align: center;
  }

  &__img {
    width: 320px;
    height: auto;
    margin: 0 auto;
    text-align: center;
  }

  &__medium-img {
    width: 70%;
  }

  &__large-img {
    width: 100%;
  }

  &__title {
    color: $text-color;
    font-size: 3.2rem;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 32px;
  }

  &__link {
    @include linkBtn;
  }

  &__link span {
    @include linkBtnText;
  }

  &__sub-title {
    color: $text-color;
    font-size: 2.4rem;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 64px;
  }
  &__sub-title-2{
    color: $text-color;
    font-size: 2.0rem;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 32px;
  }

  &__skill-list {
    margin-top: 32px;
  }

  &__skill-item {
    background-color: $sub-color;
    border-radius: 50px;
    display: inline-block;
    height: 32px;
    margin: 16px 8px 0 0;
  }

  &__skill-item span {
    line-height: 32px;
    padding: 0 24px;
  }

  &__text {
    color: $text-color;
    margin: 0 auto;
    margin-top: 16px;
    font-family: 'Noto Sans JP';
    line-height: 3rem;
  }

  &__pdf-container {
    margin-top: 16px;
  }

  &__pdf {
    width: 100%;
    height: 80vh;
    @include max-screen($breakpoint-tablet) {
      display: none;
    }
    @include max-screen($breakpoint-mobile) {
      display: none;
    }
  }

  &__pdf-link {
    display: none;
    @include max-screen($breakpoint-tablet) {
      display: block;
    }
    @include max-screen($breakpoint-mobile) {
      display: block;
    }
  }

  &__colors {
    display: flex;
  }

  &__colors p {
    margin-right: 24px;
    margin-top: 40px;
    display: inline-block;
  }

  %__color {
    margin: 24px 16px;
    width: 48px;
    height: 48px;
    border-radius: 50px;
  }

  &__color {
    @extend %__color;

    &--main {
      @extend %__color;
      background-color: $main-color;
    }

    &--sub {
      @extend %__color;
      background-color: $sub-color;
    }

    &--0D1A47 {
      @extend %__color;
      background-color: #0D1A47;
    }

    &--2B4086 {
      @extend %__color;
      background-color: #2B4086;
    }

    &--AADFDC {
      @extend %__color;
      background-color: #AADFDC;
    }

    &--FDB28A {
      @extend %__color;
      background-color: #FDB28A;
    }

    &--53637C {
      @extend %__color;
      background-color: #53637C;
    }

    &--FCFCFC {
      @extend %__color;
      background-color: #FCFCFC;
    }

    &--D65A3C {
      @extend %__color;
      background-color: #D65A3C;
    }

    &--242629 {
      @extend %__color;
      background-color: #242629;
    }

    &--6CAD76 {
      @extend %__color;
      background-color: #6CAD76;
    }

    &--FEFEFE {
      @extend %__color;
      background-color: #FEFEFE;
    }

    &--E1DFDD {
      @extend %__color;
      background-color: #E1DFDD;
    }

    &--BA706C {
      @extend %__color;
      background-color: #BA706C;
    }
  }

  &__fonts {
    margin-top: 24px;
    background-color: $sub-color;
    border-radius: 24px;
    padding: 20px 32px;
  }

  &__font-item {
    padding: 24px 16px;
  }

  %__font {
    padding-top: 16px;
  }

  &__font {
    &--moon {
      @extend %__font;
      font-size: 3.2rem;
      font-family:'Moon';
      font-weight: bold;
      letter-spacing: 2px;
    }

    &--mplus {
      @extend %__font;
      font-size: 2.4rem;
      font-family:'M PLUS 1p';
    }

    &--notosans {
      @extend %__font;
      font-size: 2.4rem;
      font-family:'Noto Sans JP';
    }
  }

  &__originality-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    @include max-screen($breakpoint-tablet) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__originality {
    padding-bottom: 40px;
  }

}
